<!DOCTYPE html>
<html>
<head>
  <title>Birthday Greetings</title>
</head>
<body>
  <p>Dear <%= userName %>,</p>
  <p>We wish you a fantastic birthday and a year filled with joy and success!</p>
  <img src="<%= imageUrl %>" alt="Greetings Image" />
  <p>Best wishes,<br> The BOA Team</p>
</body>
</html>
